<!--
Author: Shujuan Ji
Date: Jan. 5, 2025
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and JavaScript Example</title>
</head>
<body data-page-name="test2.html">
    <h1>Counterfactual Simulation</h1>
    <h2>(data 2015-2022)</h2>
    <!-- First slider -->
    <label for="slider1"> Sodium level:</label>
    <input type="range" id="slider1" name="slider1" min="0" max="1.5" step="0.1" value=0.5 oninput="updateValue('value1', this.value)">
    <span id="value1">0.5</span>
    <br><br>
    <!-- Second slider -->
    <label for="slider2"> Input water control:</label>
    <input type="range" id="slider2" name="slider2" min="0" max="100" value=50 oninput="updateValue('value2', this.value)">
    <span id="value2">50</span>
    <br><br>
    <!-- Submit button -->
    <button id="submitValues">Run</button>
    
    <!-- Response display -->
    <p id="response"></p>
    <script src="{{url_for('static', filename='js/forms.js')}}?v=11"> </script>
    
</body>
</html>